<div class="container add-ons-container">
    <!-- addons -->
<div class="add-ons border  p-2 mt-2">
    <p class="mt-2 fs-5 text-success fw-bold">Add Extra coverages (Valid for 1 yr)</p>
    <div class="form-check border-bottom border-warning" *ngFor="let item of addOnCoverageList; let i = index">
        <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="item.selection" (ngModelChange)="calculateComprehensive(item.selection,i)" checked>
        <label class="form-check-label mb-0 ms-3 text-muted fw-bold fs-5" for="flexCheckChecked">{{item.name}}</label>
        
        <p class="mandatory ms-3 m-0">Mandatory</p>
        <p class="ms-3 fw-bold">₹ {{item.netPremium  |  number:'.0-0'}}</p>
      </div>
</div>
<!-- float price -->
<div class="priceFooterborder bg-light shadow-lg p-3 border rounded d-flex justify-content-between">
<div class="price">
    <p > <span class="text-muted text-decoration-line-through fw-bold"> {{CompPlanFinalPrice | currency:'INR'}} </span> <span class="fw-bold fs-4">&nbsp;{{CompPlanFinalDiscPrice | currency:'INR'}}</span> </p>
</div>
<div class="button">
    <button class="btn btn-warning px-5">Continue</button>
</div>
</div>
</div>


