.Fade {
    background: black;
    opacity: 90%;
}
.modalheader{
    height: 100px;
}
a {
    cursor: pointer;
    text-decoration: none;
}
ul li {
    cursor: pointer;
}
.vlist{
    cursor: pointer;
}
.variantList li {
    list-style: none;
    
}
.VarientModal {
    height: 320px;
    overflow-y: scroll;
}
.po :active {
    border-bottom: 2px solid yellow;
}
