<div class="carSearchForm container-fluid shadow">
    <div class="row">
        <div class="col-md-5 back-light border">
            <label for="id1" class="form-label mb-0 mt-2">Registration Number</label>
            <input type="text" class="home-input mt-0 pt-0" placeholder="E.g. MH04BB7489">
        </div>
        <div class="col-md-5  back-light border">
            <label for="id2" class="form-label mb-0 mt-2">Mobile Number (optional)</label>
            <input type="text" class="home-input mt-0 pt-0" placeholder="Mobile Number">
        </div>
        <div class="col-md-2  back-light">
            <button routerLink="/car-insurance" class="btn btn-warning p-3 mt-3 ms-3"><span class="fw-bold">View Prices</span></button>
        </div>
    </div>
</div>
